{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %} 
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <!-- home url -->
    <li class="selected">
    <a href="{% url 'menu:home' %}">All</a> 
    </li>
    <!-- kategori dan kategori url -->
    {% for cat in kategoris %}
    <li class="selected">
    <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
    </li>
    {% endfor %}
    <!-- end kategori dan kategori url -->
    </ul>
    </div>
<div class="product-detail">
<img src="{% if produk.image_product %}{{ produk.image_product.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
<h1>{{ produk.name }}</h1>
<h2>{{produk.category}}</h2>
<p class="price">Rp. {{ produk.price }}</p>
{{ produk.deskripsi|linebreaks }}
</div>
{% endblock %}