{% extends "base.html" %}
{% load static %}
{% block title %}
    produk
    {{kategori.name}}
{% endblock %}

{% block content %}    
<div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <!-- home url -->
        <li class="selected">
        <a href="{% url 'menu:home' %}">All</a> 
        </li>
        <!-- kategori dan kategori url -->
        {% for cat in kategoris %}
        <li class="selected">
        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
        <!-- end kategori dan kategori url -->
        </ul>
        </div>
        <div id="main" class="product-list">
        <h1>Products</h1>
        
        <!-- looping produk -->
        {% for products in produk %}
        <div class="item">
        <a href="{{ products.get_absolute_url }}">
        <img  src="{{products.image_product.url}}">
        </a>
        <br>
        <a href="{{ products.get_absolute_url }}">{{products.name}}</a>
        <br>
        Rp{{products.harga}}
    </div>
    {% endfor %}
    <!-- endloop produk -->
    </div>
<!-- CODE MENGELUARKAN SEMUA LIST DALAM CATEGORY -->
{% regroup produk by category as products_by_category %}
{% for c in products_by_category %}
<h1 ><a href="{{ c.get_absolute_url }}">{{c.grouper}}</a></h1>
<ul>
  {% for p in c.list %}
    <li><a href="{{p.get_absolute_url}}">{{p.name}}</a></li>
  {% endfor %}
</ul>
{% endfor %}
    {% endblock %}
    <!--* END CODE MENGELUARKAN SEMUA LIST DALAM CATEGORY* -->