{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top">
<button class="btn btn-outline-warning" type="button" id="navButton">
    <span class="navbar-toggler-icon"></span>MENU
</button>
    <a class="navbar-brand" href="#" style="margin: auto;">{{title}}</a>
<div class="dropdown">
     <button id="carts" class="btn btn-outline-warning" data-toggle="modal" data-target="#CartModal">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
       <i class="fas fa-shopping-cart"></i>
           <span class="badge badge-warning">{{ total_items }}</span>
        
        {% else %}
        <i class="fas fa-shopping-cart"></i>
        {% endif %}
        {% endwith %}
    </button>
</div>
</nav>
<div class="sidenav bg-dark border border-top-0 border-warning" id="navButton">
<ul class="list-unstyled">
    <li class="nav-item" id="navButton">
        <a class="nav-link" href="/">All Products</a>
    </li>
    {% for category in kategoris %}
    <li class="nav-item">
        <a class="nav-link" href={{category.get_absolute_url}}>{{category.name}}</a>
    </li>
    {% endfor %}
        
</ul>
</div>

<!-- Modal Cart -->
<div class="modal fade" id="CartModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:70%;">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Your Shopping Cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                        <div class="container-fluid">
                            {% if cart %}
                           
                                <table class="table table-striped">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total Price</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                        {% with Product=item.Product %}
                                        <tr>
                                        <th scope="row">{{ forloop.counter}}</th>
                                        <th>{{ Product.name }}</th>
                                        <th class="num">Rp {{ item.price }}</th>
                                        <th class="m-auto">
                                        <form action="{% url 'menu:addtocart' Product.id %}" method="post">

                                                <input class="m-auto" style="width:40px;" type="text" name="quantity" id="{{Product.id}}" value="{{ item.quantity }}"/>
                                                {{ item.quantity_form.update }} 
                                              
                                                <input type="submit" value="Update">
                                            {% csrf_token %}
                                        </form>
                                       
                                        </th>
                                        <th class="num">Rp {{ item.total_price }}</th>
                                        <th><a href="/remove/{{Product.id}}/" class="badge badge-danger">remove</a></th>
                                        </tr>
                                        {% endwith %}
                                        {% endfor %}
                                        <tr class="total">
                                        <th>Total</th>
                                        <th colspan="4"></th>
                                        <th class="num">Rp. {{ cart.get_total_harga}}</th>
                                        </tr>
                                        </tbody>
                                        </table>
                                        {% else %}
                                        <h6>Keranjang kosong</h6>
                                        {% endif %}
                            </div>
                                   
                    </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                <a type="button" class="btn btn-primary" href="{% url 'menu:createorder' %}">Checkout</a>
            </div>
        </div>
    </div>
</div>

    
