{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top">
<button class="btn btn-outline-warning" type="button" id="navButton">
    <span class="navbar-toggler-icon"></span>MENU
</button>
    <a class="navbar-brand" href="#" style="margin: auto;">{{title}}</a>
<div class="dropdown">
    <button class="btn btn-warning">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Keranjang:
        <a href="{% url 'menu:cart_detail' %}">
        {{ total_items }} Pesanan{{ total_items|pluralize }},
        Rp. {{ cart.get_total_harga }}
        </a>
        {% else %}
        Keranjang kosong
        {% endif %}
        {% endwith %}
    </button>
</div>
</nav>
<div class="sidenav bg-dark border border-top-0 border-warning" id="navButton">
<ul class="list-unstyled">
    <li class="nav-item" id="navButton">
        <a class="nav-link" href="/">All Products</a>
    </li>
    {% for category in kategoris %}
    <li class="nav-item">
        <a class="nav-link" href={{category.get_absolute_url}}>{{category.name}}</a>
    </li>
    {% endfor %}
        
</ul>
</div>