{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'snippets/style.html' %}
</head>
  <body>
    {% include 'snippets/navbar.html' %}
    <h1>Checkout</h1>
    <div class="order-info">
    <h3>Your order</h3>
    <ul>
    {% for item in cart %}
    <li>
    {{ item.quantity }}x {{ item.Product.name }}
    <span>Rp. {{ item.total_price }}</span>
    </li>
    {% endfor %}
    </ul>
    <p>Total: Rp. {{ cart.get_total_harga }}</p>
    </div>
    <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
    </form>
    {% include 'snippets/script.html' %}
  </body>
</html>

