{% load static %}
<div class="main mt-5">
    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
        <a class="nav-link active" href="#">1</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">2</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">3</a>
        </li>
    </ul>
    <div class="row">
        {% for product in produk  %}
        
       <div class="card-deck" style="margin: 8px; flex-wrap: wrap;">
        <div class="card" style="width: 200px;">
            <a href="{{products.get_absolute_url}}">
            <img src="{{product.image_product.url}}" class="d-block" style="height:200px; width:100%;">
            </a>
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Pesan</a>
            <a href="#" class="card-link">More Info</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>