{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
            Warung 9
    {% endblock %}
     </title>
</head>
<body>
    <div id="header" href="/" >Warung Sembilan</div>
    <div id="subheader">
        <div class="cart" style="float: right;"><h3>Keranjang <br> kosong</h3></div>
    </div>
    <div id="content">
        {% block content %}
          
        {% endblock content %}
    </div>
    
</body>
</html>