{% load static %}

<div class="main mt-5">
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {% for message in messages %}
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {% endfor %}
        </div>
        {% endif %}
      
                
              
    {% if is_paginated %} <!--paginasi-->
    <ul class="nav nav-tabs mb-2">
            {% for i in paginator.page_range  %}
            {% if i is page_obj.number %}
            <li class="nav-item">
            <a class="nav-link active" href="?page={{i}}">{{i}}</a>
            </li>{% else %}
            <li class="nav-item">
            <a class="nav-link" href="?page={{i}}">{{i}}</a>
            {% endif %}
            {% endfor %}
    </ul>  {% endif %}<!--end paginasi-->
    <div class="row">
        {% for product in Product  %}
        
       <div class="card-deck" style="margin: 8px; flex-wrap: wrap;">
        <div class="card" style="width: 200px;">
            <a href="{{product.get_absolute_url}}">
            <img src="{{product.image_product.url}}" class="d-block" style="height:200px; width:100%;">
            </a>
            <div class="card-body">
            <h5 class="card-title"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h5>
            <p class="card-text">Rp. {{product.price}}</p>
            <p class="card-text"></p>
            </div>
            <div class="card-body">
            <form action="{% url 'appmanager.menu:addtocart' product.id %}" method="post" class="card-link">
                    {% csrf_token %}
                    <div class="form-inline mb-2">
                      <select id="id_quantity"  class="form-control m-auto" style="width: 70px;" name="quantity">
                          {% for selow in jumlah_form.quantity  %}
                          {{selow}}
                          {% endfor %}
                      </select>
                    </div>
                        <input  class="btn btn-primary btn-sm mr-2" type="submit" value="Pesan">
                        <a href="#modelId" id="{{product.slug}}" class="btn btn-success btn-sm" data-toggle="modal" data-href="{{product.get_absolute_url}}">More Info</a>
                    
                    </form>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Modal Product -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 50%;">
        <div class="modal-content" id="konten">

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  
  {% for a in  Product %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#{{a.slug}}').click(function(e) {
        e.preventDefault();
        var url = $(this).attr('data-href');
        $('#konten').load(url);
      });
    });
  </script>
  {% endfor %}

